body{
    text-align: center;
}
h1{
color: green;
}


table{
    margin: auto;
    margin-top: 20px;
}


.board td {
    background: rgb(169, 204, 14);
    width: 40px;
    height: 40px;
    text-align: center;
    transition: 0.5s;
}

button{
    background-color: darkorange;
    color: darkblue;
    cursor: pointer;
}
